<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/user/login" method="post">
        <input type="text" name="user" placeholder="Enter your username">
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit">login</button>
        <a class="forgot" href="http://localhost:8080/user/forgotpassword">forgot password</a>
    </form>
</body>
</html>