<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/user/registration" method="post">
        <input type="text" name="user" placeholder="enter username">
        <input type="email" name="email" placeholder="enter email">
        <input type="password" name="password" placeholder="Create your password">
        <button type="submit">Register</button>
    </form>

</body>
</html>